/* Hamburger menu button */
.menu-toggle {
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* Menu container */
nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  z-index: 1;
}

/* Menu container visible class */
nav.menu-visible {
  transform: translateY(0);
}
